.phone{
    margin-top: 20px;
    position: relative;
}

.verify{
    margin-top: 20px;
    position: relative;
}

.password{
    margin-top: 20px;
    position: relative;
}

.getVerify{
    position: absolute;
    top: 15px;
    right: 20px;
    color: #fff;
    cursor: pointer;
}
.getVerify span:nth-child(1){
    margin-right: 10px;
}

.infoPhone, .infoVerify, .infoPassword{
    color: #fff;
    position: absolute;
    width: 100px;
    top: 15px;
    right: -120px;
}

