.avator{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 0.8rem solid #65a1e5;
    background-color: white;
    margin: 0 auto;
    background-image: url('../../asset/images/avator.png');
    background-size: cover;
}

.username-box{
    margin-top: 30px;
}

.password-box{
    margin-top: 10px;
    position: relative;
}

input{
    box-sizing: border-box;
    width: 100%;
    height: 52px;
    border-radius: 52px;
    background-color: hsla(0, 0%, 100%, .4);
    outline: none;
    border: none;
    color: white !important;
    font: 14px Verdana, Helvetica, Arial, sans-serif;
    text-align: center;
}

input::placeholder{
    color: white;
    font: 14px Verdana, Helvetica, Arial, sans-serif;
}

input:focus{
    box-shadow: 0 8px 18px 0 rgba(2, 92, 209, .57);
}

.register{
    margin-top: 20px;
    text-align: center;
}

.register span{
    color: #d9e9f9;
}
.register span:nth-child(1){
    /* margin-left: 20px; */
    margin-right: 200px;
}

.arrayRight{
    color: #fff !important;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 15px;
}

.error-message{
    color: red !important;
}

.loginfailed{
    animation: shake 800ms;
}
@keyframes shake {
    10%, 90% { transform: translate(-1px, 0); }
    20%, 80% { transform: translate(+2px, 0); }
    30%, 70% { transform: translate(-4px, 0); }
    40%, 60% { transform: translate(+4px, 0); }
    50% { transform: translate(-4px, 0); }
}

.error-message{
   font-size: 15px;
   color: #fff !important;
   position: absolute;
   display: block;
   top: 20px;
   left: 380px;
   width: 120px;
   height: 1px;
}

.hidden{
    visibility: hidden;
}