.tel{
    color: white;
    font-size: 20px;
}

.register-title2{
    color: #fff !important;
    font-size: 25px;
    text-align: center;
    padding-top: 50px;
}

.input-box{
    margin-top: 20px;
    position: relative;
}

.terms{
    margin-top: 20px;
}

.terms .terms-hide{
    display: block;
    margin-left: 35px;
    color: #fff;
}

.terms a:hover{
    color:blue !important;
    text-decoration: underline blue;
}

.circle-area{
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 2px solid #fff;
    vertical-align: middle;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}

.terms .agreement{
    color: #fff !important;
}

.circle{
    display: inline-block;
    width: 11px;
    height: 11px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 1px;
    top: 1px;
}

.wrong-label{
    position: absolute;
    left: 400px;
    width: 180px;
    top: 15px;
    color: white;
}