.register-title{
    color: #fff !important;
    font-size: 25px;
    text-align: center;
    padding-top: 120px;
}


.nav{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.back-login{
    color: #ffffffcc;
    height: 48px;
    line-height: 48px;
}

.back-login span{
    margin-left: 10px;
    cursor: pointer;
}

.next-step{
    color: #4ba2f3cc;
    outline: none;
    border: none;
    width: 160px;
    height: 48px;
    border-radius: 40px;
    cursor: pointer;
}

.next-step span{
    margin-right: 10px;
}

.next-step:hover{
    color: skyblue;
}

.input-div{
    position: relative;
}

.input-div span{
    display: block;
    position: absolute;
    width: 140px;
    right: -150px;
    top:15px;
    color: #fff;
}